/* Loading Animation Styles */
#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Optional overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Hide content initially */
.the-page {
    display: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0px;
    /*margin: 0;
    padding: 0;
    padding-top: 60px;
    background-color: #f4f4f4;*/
}

.background {
    position: fixed; /* Ensures it stays behind content */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
/*    background-image: url("../gifs/bgEqGIF1_low.gif");*/
    background-image: url("../images/bgFinal.jpg");
/*    background-image: url("/static/images/bg1963paper.png");*/
/*    transform: rotate(-0deg);*/
/*    transform-origin: center;*/
    opacity: 1; /*0.15*/
/*    background-repeat: no-repeat;*/
    background-size: cover;
    background-position: top right;
    filter: blur(3px);
    z-index: -1; /* Places it behind other content */
}

.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(133, 91, 13, 0.375); /* Adjust the color and opacity as needed */
    z-index: -1;
}

.container {
    width: 70%;
    margin: auto;
    padding: max(1.67vw, 10px);
    margin-top: 100px;
    margin-bottom: 20px;
    overflow: hidden;
    background: #ffa742dd;
    background: #d69200dd;
    background: #4d6f69dd;
    /* filter: drop-shadow(1rem 1rem 10px #50341480); */
    border-radius: 30px;
    /* box-shadow: 0 0 5px 10px #ffa742dd; */
    box-shadow: 0 0 50px 10px #00000030;
/*    opacity: 0.9;*/
/*    filter: blur(5px);*/
}

q,
blockquote {
  quotes: "“" "”" "‘" "’";
/*  font-style: italic;*/
}

.french {
  quotes: "«" "»" "‹" "›";
}

q:before,
blockquote:before {
  content: open-quote;
}

q:after,
blockquote:after {
  content: close-quote;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  color: purple;
  font-size: 3em;
}

blockquote {
    width: 90%;
    margin-left: 0;
    margin: 10px auto;
    padding-left: 1em;
    border-left: 5px solid purple;
}

.content h2 {
    font-family: "Lora";
    /* text-decoration: underline; */
    font-size: max(2.5vw, 45px);
    font-weight: lighter;
    margin-bottom: 1vh;
/*    font-size: 3rem;*/
    color: rgb(233, 190, 0);
/*    text-align: center;*/
}

.content p {
    font-family: "Krub";
    font-size: max(0.9vw, 14px);
/*    font-size: 1.2rem;*/
    line-height: 1.6rem;
}

.ref-link {
    font-family: monospace;
    font-size: max(0.8vw, 14px);
    color: #ffd000;
    text-wrap: wrap;
}

.ref-link:hover {
    font-family: monospace;
    font-size: max(0.8vw, 14px);
    color: #da4968;
    text-wrap: wrap;
}

#birth-death-dates {
    width: auto;
    margin-bottom: 5vh;
/*    font-size: 1rem; */
    color: #da4968;
    /* color: rgb(0, 190, 181); */
    font-weight: bold;
    font-size: max(0.83vw, 20px); 
    font-family: monospace;
/*    box-shadow: inset 3px 4px 5px;*/
    /*-moz-box-shadow: -5px -5px 0 #888;
    -webkit-box-shadow: -5px -5px 0 #888;
    box-shadow: -5px -5px 0 #888;*/
}

ol {
    width: 90%;
    font-family: Krub;
    padding-left: 14px;
}

li {
    margin: 4px;
}
 
li a {
    text-wrap: wrap;
    word-break: break-all;
}

#source-citation {
    font-family: Krub;
    padding-top: 1vh;
    padding-bottom: 3vh;
    /* font-weight: bold; */
    text-align: left;
    font-size: max(0.8vw, 14px);
    width: 95%;
}


/* Responsiveness */
    @media (max-width: 768px) {
        /*.content h2 {
            font-size: 30px;
        }*/

        .container {
            width: 90%;
        }
    }