    body {
        margin: auto;
        /*    margin-top: 60px;*/
        /*    display: flex;*/
    }

    .bg-color-layer {
        position: fixed;

        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* background-color: #A0A0A0; /* #624664; #554156 */
        background-color: rgba(133, 91, 13, 0.375);
        /* Adjust the color and opacity as needed */
        opacity: 0.88;
        z-index: -10;
        margin: 0vw;
        padding: 0vw;
    }


    .background {
        position: fixed;
        /* Ensures it stays behind content */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-left: 8.36vw;
        background-image: url("../images/bgFinal.jpg");
        opacity: 0.5;
        /*    background-repeat: no-repeat;*/
        background-size: cover;
        background-position: center;
        filter: blur(2px);
        z-index: -100;
        /* Places it behind other content */
    }

    /* Hero text */
    .biggerContainer-desktop {
        /*z-index: 1;*/
        background-image: url("../images/anmitrahome1.png");
        filter: drop-shadow(0px 0px 20px #00000080);
        opacity: 1;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        width: 100%;
        height: 40vw;
        /*80vh*/
        /* box-shadow: 0 0 50px 10px #00000030; */
        display: flex;
        /*flex-wrap: wrap;*/
    }

    .biggerContainer-mobile {
        /*z-index: 1;*/
        background-image: url("../images/anmitrahome1.png");
        filter: drop-shadow(0px 0px 20px #00000080);
        opacity: 1;
        background-repeat: no-repeat;
        background-size: auto 100%;
        margin: auto;
        /*height: 40vw;*/
        /*80vh*/
        /* box-shadow: 0 0 50px 10px #00000030; */
        display: flex;
        /*flex-wrap: wrap;*/
    }

    #fillerbox-mobile {
        height: auto;
        width: 40%;
    }

    .hero {
        display: flex;
        /*height: 30vw;*/
        /*80vh*/
        /*background-color: #554156;*/
        justify-content: space-between;
        align-items: center;
        padding: 1.04vw 1.04vw;
        margin: 3.14vw 5.23vw;
        color: black;
        /*        flex-direction: column;*/
        /*        flex-wrap: wrap;*/
    }

    #Few-Body-Container {
        display: flex;
        flex-direction: column;
        /* font-size: max(2vw, 24px); */
        font-size: 2em;
        font-family: "Lora";
        font-weight: bolder;
        background-color:#4d6f69dd;
        /* opacity: 1; */
        /* justify-content: space-between; */
        /* align-items: center; */
        padding: 1vw 1vw;
        margin: 3.14vw 5.23vw;
        /* color: black; */
        border-radius: 1.04vw;
    }

    h1#Few-Body-Container {
        background: None;
    }
    #Few-Body-Physics-Session {
        display: flex;
        /*height: 30vw;*/
        /*80vh*/
        /* background-color:#4d6f69; */
        /* opacity: 1; */
        /* justify-content: space-between; */
        /* align-items: center; */
        /* padding: 1.04vw 1.04vw; */
        /* margin: 3.14vw 5.23vw; */
        /* color: black; */
        border-radius: 1.04vw;
        overflow-x: scroll;
        overflow-y: hidden;
        /* flex-direction: column; */
        /* flex-wrap: wrap;*/ 
        /* font-size: max(2vw, 24px); */
        /*56*/
        /* font-family: "Lora";
        font-weight: bolder; */
        /* margin-bottom: 1.04vw; */
        /* padding-bottom: 1.31vw; */
        /* filter: drop-shadow(0rem 0rem 20px rgb(233, 190, 0)); */
            /* filter: drop-shadow(0rem 0rem 20px #da4968); */
    }

    .anmitra-desktop {
        margin-right: 0px;
        padding-right: 0px;
    }

    .anmitra-mobile {
        display: none;
        margin-right: 0px;
        padding-right: 0px;
    }

    .witten {
        border-radius: 1.04vw;
        /* 29, 29, 29, 0.5  85, 65, 86, 1 */
        /* background-color: rgba(00, 60, 60, 0.87);  */
        background-color: #4d6f69dd;
        filter: drop-shadow(0px 0px 20px #00000080);
        /*background: transparent;*/
        padding-top: 3.14vw;
        padding-bottom: 3.14vw;
        padding-right: 2.61vw;
        display: flex;
    }

    .hero-text {
        width: 60%;
        max-width: 60%;
        text-align: left;
        padding-left: 2.61vw;
        padding-right: 1.31vw;

        /*align-items: right;*/
        /*align-content: right;*/
    }

    .hero-text#anmitra-text-desktop {
        width: 100%;
        max-width: 100%;
        text-align: left;
        padding-left: 0;
        padding-right: 0;
        position: relative;

        /*align-items: right;*/
        /*align-content: right;*/
    }

    .hero-text h1 {
        font-size: max(3.6vw, 24px);
        /*56*/
        font-family: "Lora";
        font-weight: normal;
        margin-bottom: 1.04vw;
        padding-bottom: 1.31vw;
    }

    .hero-text h1#anmitra-header-desktop {
        position: absolute;
        top: 13%;
        left: 40vw;
    }

    .hero-text p {
        /*margin-bottom: 20px;*/
        font-family: "Krub";
        font-size: max(1.15vw, 16px);
        /*text-align: right;*/
    }

    .hero-text .buttons {
        display: flex;
        gap: 0.78vw;
        border-color: black;
        border-width: 0.26vw;
        justify-content: flex-start;
        display: inline-flex;
        justify-content: space-between;
        align-content: right
    }

    .hero-text .buttons a {
        text-decoration: none;
        padding: 5% 10%;
        border-radius: 30px;
        /*padding: 0.52vw 1.04vw;
        border-radius: 1.57vw;*/
        font-family: "Krub";
        font-size: max(1.36vw, 12px);
        font-weight: normal;
    }

    #lecture-button {
        padding: 10% 20%;
    }



    #learn-more-lec-button {
        order: 3;
        width: max(50%, 200px);
        align-items: center;
        padding: 0.52vw 1.04vw;
        border-radius: 200vw;
    }

    /*.hero-text a {
        text-decoration: none;
        color: darkblue;
        font-weight: bold;
    }

    .hero-text .in-text-link a:hover {
        border-radius: 5px;
        background-color: #dddddd;
        padding: 2px 5px;
    }*/

    .hero-text .buttons .type1 {
        background-color: #000;
        transition: background-color 0.2s;
        color: #fff;
    }

    .hero-text .buttons .type1:hover {
        background-color: #f8f9fa;
        color: #333;
    }

    .hero-text .buttons .type2 {
        transition: background-color 0.2s;
        background-color: #f8f9fa;
        color: #333;
    }


    .hero-text .buttons .type2:hover {
        background-color: #000;
        color: #fff;
    }

    .hero-image {
        /*max-width: 40%;*/
        /*40*/
        padding: 1.31vw;
        padding-left: 0vw;
        padding-right: 2.61vw;
    }

    .hero-image img {
        width: 35vw;
        border-radius: 26.14vw;
        /*30px*/
        background-image: radial-gradient(circle 50vw at 50% 100%, #a0a0a0, #a0a0a0);
        /*background-image: radial-gradient(circle closest-side, #a0a0a0, #a0a0a0);*/
        /*border: 1px solid #333;*/
        /*box-shadow: 0px 0px 5rem #ab9b82, inset 0px 0px 5rem #ab9b82;*/
        opacity: 0.75;
    }

    .date-and-buttons-desktop {
        position: absolute;
        margin: 0;
        top: 82%;
        left: 40vw;
        padding: 0;
    }

    #date-event-desktop {
        font-size: calc(2.69px + 1.613vw);
        /*max(1.8vw, 20px); */
        font-family: Lora;
        color: white;
        display: inline-flex;
        margin: 0;
    }

    #date-event-mobile {
        font-size: max(1.8vw, 20px);
        font-family: Lora;
        color: white;
        display: inline-flex;
    }

    #about-anmseries-desktop {
        /*font-size: max(1vw, 14px);*/
        font-size: calc(2px + 1.2vw);
        position: absolute;
        top: 46.50%;
        left: 40vw;
    }

    #about-anmseries-mobile {
        font-size: max(1vw, 14px);
    }

    #about-lecture {
        color: #d0d0d0;
        font-size: max(1vw, 14px);
    }

    #about-lecture a {
        text-decoration: none;
        color: #ffd000;
        /* font-weight: bold; */
        /*white-space: nowrap;*/
    }

    #about-lecture a:hover {
        border-radius: 5px;
        /*        background-color: #ff3864;*/
        color: #ff3864;
        /*        font-size: max(0.9vw, 12px);;*/
        padding: 2px;
        /*        margin-bottom: 5px;*/
    }

    #anmitra-lecture-title {
        font-size: max(2.61vw, 28px);
    }

    /* Professor Mitra */
    .circle {
        border-radius: 50%;
        display: inline-block;
        position: relative;
    }

    .circle img {
        width: 40vw;
        border-radius: 50%;
        display: block;
        border: 0.05vw solid #A0A0A0;
    }

    /* Professor Witten */
    .circleWitten {
        /*border-radius: 100%;*/
        display: inline-block;
        position: relative;
    }

    .circleWitten img {
        /*            min-width: 400px;*/
        width: 30vw;
        border-radius: 1%;
        margin-left: 0.52vw;
        /*display: block;*/
        /*border:1px solid #A0A0A0;*/
    }

    #inside {
        display: none;
    }


    /* Smooth Scrolling */
    html {
        scroll-behavior: smooth;
    }


    /* Responsiveness*/
    @media (max-width: 768px) {
        * {
            text-align: center;
            font-size: 10px;
            font-family: Krub;
        }

        body {
            margin-top: 0px;
        }

        .anmitra-desktop {
            display: none;
            margin-right: 0px;
            padding-right: 0px;
        }

        .anmitra-mobile {
            display: flex;
            margin: auto;
            padding: auto;
        }

        .hero {
            width: auto;
            /*            margin: auto;*/
            /*            height: 760px;*/
            padding: 10px;
            /*            height: auto;*/
            flex-direction: column;
            text-align: center;
            flex-wrap: wrap;
        }

        .hero-text {
            align-items: center;
            display: flex;
            flex-direction: column;
        }

        .biggerContainer-mobile {
            /*        z-index: 1;*/
            width: 80%;
            background-image: none;
            /*            opacity: 1;*/
            /*            background-repeat: no-repeat;*/
            /*            background-size: 100% auto;*/
            /*        height: 100%;*/
            /*            display: flex;*/
            flex-direction: column;
            /*            flex-wrap: wrap;*/
            align-items: center;
        }

        h1#Few-Body-Container {
            background: None;
            font-size: 24px;
        }

        #Few-Body-Physics-Session {
            flex-direction: column;
        }

        #fillerbox-mobile {
            /*            width: 50%;*/
            background-image: url("../images/anmitra2.png");
            background-size: cover;
            border-radius: 50%;
            width: 100%;
            aspect-ratio: 1;
        }

        .hero-text .buttons {
            align-items: self-start;
            /*            gap: 0px;*/
            margin: 10px auto;
            width: 65%;
        }

        #date-event-mobile {
            width: 100%;
            color: black;
            justify-content: center;
        }

        .hero-text {
            width: 100%;
            max-width: 100%;
            margin: auto;
            padding: 0;
            /*            display: flex;*/
            /*            flex-direction: column;*/
            /*            flex-wrap: wrap;*/
            align-items: center;
        }

        #about-anmseries-mobile {
            text-align: justify;
        }

        #about-lecture {
            text-align: justify;
            width: 85%;
            margin: 20px auto;
            order: 2;
        }

        #about-lecture a {
            font-size: 14px;
        }

        .hero-image {
            max-width: 100%;
        }

        .circleWitten {
            order: 1;
        }

        #learn-more-lec-button {
            order: 3;
            width: 50%;
            align-items: center;
            justify-content: center;
        }

        .circleWitten img {
            /*            min-width: 400px;*/
            width: 90%;
            border-radius: 1%;
            margin: 20px auto;
            /*            margin-left: 0.52vw;*/
            /*display: block;*/
            /*border:1px solid #A0A0A0;*/
        }

        #outside {
            display: none;
        }

        #inside {
            display: flex;
        }

    }
