        body {
            font-family: "Krub";
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
            height: 100%;
        }

        .parallax_layer_bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
            background-image: url("../images/bgFinal.jpg");
            /*background-color: #f5f5f5;*/
            background-size: cover;
            background-position: center;
            filter: blur(6px);
            opacity: 0.75;
            z-index: -100;
            /*transform: translateZ(-1px) scale(2);*/
        }

        .bg-color-layer {
            position: absolute; 
            top: 0;
            left: 0;
            width: 1000%;
            height: 100%;
            background-color: #A0A0A0; /* #624664; /* #A0A0A0*/
            background-size: cover;
            background-position: center;
            opacity: 0.4;
            z-index: -10; 
            margin: 0px;
            padding: 0px;
            /*transform: translateZ(-1px) scale(2);*/
        }

        .container {
            margin: 80px auto; /* auto makes this section center aligned (horizontally)*/
            width: 90%;
            transform: translateZ(0);
        }

        .header{
            padding: 0.5em 0em;
            margin: 0 auto;
            background-color: #63411380;
            border-radius:30px;
            opacity: 1;
            text-align: center;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
        }

        .title {
            font-family: "Lora";
            font-size: 3rem;
            text-align: center;
            margin: 0 auto;
        }

        .day-links {
            padding: 1rem 0;
            margin: 0 auto;
            font-family: "Krub";
        }

        .day-links a {
            text-align: center;
            text-decoration: none;
            padding: 8px 12px;
            margin: 0 1rem;
            border-radius: 5px;
            font-size: 0.9em;
            transition: background-color 0.3s, color 0.3s;
            background-color: #e7f3ff;
            color: #007bff;
        }

        .day-links a:hover {
            background-color: #007bff;
            color: white;
        }

        .day-btn {
            background-color: #e7f3ff;
            color: #007bff;
        }

        .day-btn.active {
            background-color: #00b32d;
            color: white;
        }

        .day-btn.active:hover {
            background-color: #007740;
            color: white;
        }

        .cards {
            display: grid;
            width: 105.55%;
            grid-auto-columns: 100%;
            grid-column-gap: 100vw;
            grid-auto-flow: column;
            padding: 25px 0px;
            margin: 0 0 0 -2.778%;
            list-style: none;
            overflow-x: scroll;
            scrollbar-width: none;
            scroll-snap-type: x mandatory;
        }

        .cards-container {
            display: flex;
            flex-direction: column;
            width: 94.737%;
            margin: 1rem auto;
            padding: 2rem 0;
            background-color: #63411380;
            border-radius: 30px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
            scroll-snap-align: center;
            transition: all 0.5s;
        }

        .card {
            background-color: #e0e0e0;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            width: 50%;
            /*max-width: 600px;*/
            margin: 20px auto;
            padding: 20px;
            opacity: 1;
            transition: transform 0.3s, box-shadow 0.3s;
        }

        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
        }

        .card h3 {
            margin: 0;
            font-size: 1.5em;
            color: #333;
        }

        .card p {
            color: #666;
            font-size: 0.9em;
            margin: 5px 0;
        }

        .speaker a {
            text-decoration: none;
            font-size: 1.5em;
            color: #333;
            transition: all 0.2s;
        }

        .speaker a:hover {
            color: #007bff;
        }

        .speaker a:active {
            color: #ff0000;
        }

        .links {
            margin-top: 15px;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }

        .links a {
            flex: 1;
            text-align: center;
            text-decoration: none;
            padding: 8px 12px;
            border-radius: 5px;
            font-size: 0.9em;
            transition: background-color 0.3s, color 0.3s;
        }

        .links .meeting {
            background-color: #e7f3ff;
            color: #007bff;
        }

        .links .meeting:hover {
            background-color: #007bff;
            color: white;
        }

        .links .lecture {
            background-color: #eaffea;
            color: #2eb82e;
        }

        .links .lecture:hover {
            background-color: #2eb82e;
            color: white;
        }

        .links .youtube {
            background-color: #ffeaea;
            color: #e63946;
        }

        .links .youtube:hover {
            background-color: #e63946;
            color: white;
        }

        .abstract {
            margin-top: 15px;
        }

        .abstract p {
            display: none;
            color: #333;
        }

        .abstract button {
            background-color: #007bff;
            color: white;
            border: none;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .abstract button:hover {
            background-color: #0056b3;
        }

        .card.schedule-header {
            background-color: rgb(105, 126, 128);
        }
        
        .card.schedule-header .date {
            font-family: "Lora";
            font-size: 2rem;
            text-align: center;
            color: rgb(255, 255, 255);
        }

        .card.schedule-header .time-range {
            font-family: "Lora";
            font-size: 1.6rem;
            text-align: center;
            color: rgb(255, 255, 255);
        }

        .card.interval {
            font-family: "Krub";
            font-size: 1.5rem;
            text-align: center;
            color: rgb(255, 255, 255);
            background-color: rgb(90, 90, 90);
        }
        
