<!-- BASE FILE PATH -->
<!-- <base href="file:///run/media/shivam/DataDrive/IIT%20Roorkee/Aalok%20misra/Website/" /> -->
<base href="{{site.baseurl}}" />
<!-- BASE FILE PATH -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Successful</title>
  <link rel="stylesheet" href="../static/css/navbar.css">
  <link rel="stylesheet" href="../static/css/regSuccess.css">
</head>
<body>
  
    <!-- Navbar -->
    <nav class="navbar">
        <div class="nav-links">
            <a href="../index.html" class="nav-item">Home</a>
            <a href="./about.html" class="nav-item">Prof. A. N. Mitra</a>

        </div>
        <!--<div class="logo">Logo</div> -->
        <div class="nav-right">
            <div class="dropdown">
                <div class="dropbtn">Schedule ▾</div>
                <div class="dropdown-content">
                    <a href="./schedule.html">Day 1</a>
                    <a href="./schedule.html">Day 2</a>
                    <a href="./WittenLecture.html">Ed Witten's Lecture</a>
                </div>
            </div>
            <a href="./attendees.html" class="nav-item">Attendees</a>
            <a href="./regForm.html"> <button class="register-btn">Register</button></a>
        </div>
    </nav>

    
    <div class="success-container">
      <div class="card">
        <div class="icon">
          <i class="checkmark">✓</i>
        </div>
        <h1>Registration Successful</h1>
        <p>Thank you for registering! We're excited to have you on board.</p>
        <a href="/" class="button">Go to Homepage</a>
      </div>
    </div>
</body>
</html>
