<!-- BASE FILE PATH -->
<!-- <base href="file:///run/media/shivam/DataDrive/IIT%20Roorkee/Aalok%20misra/Website/" /> -->
<base href="{{site.baseurl}}" />
<!-- BASE FILE PATH -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule of Talks</title>
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/schedule.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <script src="../static/js/navbarScript.js"></script>
    <!-- <link rel="stylesheet" type="../text/css" href=""> -->
</head>

<body>

    <!-- Navbar -->
    <div class="mobile-topnav">
        <b class="mobile-nav-header">&nbsp;</b>
        <div id="mobile-myLinks">
            <a href="../index.html">Home</a>
            <a href="./about.html">Prof. A. N. Mitra</a>
            <!-- <a href="../2025/index.html">2025</a> -->

            <a href="javascript:void(0);" class="mobile-dropdown-btn" onclick="mobile_dropdown_edition_click()">Editions
                ▾</a>
            <div class="mobile-dropdown-container" id="mobile-drop-edition-container">
                <a href="../2025/index.html"> 2025 (Edition 1) </a>
                <a href="../index.html"> 2026 (Edition 2) </a>
            </div>

            <a href="javascript:void(0);" class="mobile-dropdown-btn"
                onclick="mobile_dropdown_schedule_click()">Schedule ▾</a>
            <div class="mobile-dropdown-container" id="mobile-drop-schedule-container">
                <a href="./schedule.html#day-1" onclick="goToCard(0)">Day 1</a>
                <a href="./schedule.html#day-2" onclick="goToCard(1)">Day 2</a>
                <a href="./PranNathLecture.html">Pran Nath's Lecture</a>
                <a href="./Andre.html">Andre Linde's Lecture</a>
                <a href="./GerardHooftLecture.html">Gerardus 't Hooft's Lecture</a>
                <a href="./RobertWaldLecture.html">Robert Wald's Lecture</a>
                <a href="./kistryn.html">Stanisław Kistryn's Lecture</a>
                <a href="./skibinsky.html">Roman Skibinsky's Lecture</a>
                <a href="./kievski.html">Alejandro Kievski's Lecture</a>
            </div>
            <a href="./attendees.html">Attendees</a>
            <a href="./regForm.html">Register</a>
        </div>
        <a href="javascript:void(0);" class="mobile-icon" onclick="mobileHamBurgerToggle()">Menu</a>
    </div>

    <nav class="navbar">

        <div class="nav-links">
            <a href="../index.html" class="nav-item">Home</a>
            <a href="./about.html" class="nav-item">Prof. A. N. Mitra</a>

        </div>
        <!--<div class="logo">Logo</div> -->
        <div class="nav-right">

            <div class="dropdown">
                <div class="dropbtn">Editions ▾</div>
                <div class="dropdown-content">
                    <a href="../2025/index.html"> 2025 (Edition 1) </a>
                    <a href="../index.html"> 2026 (Edition 2) </a>
                </div>
            </div>

            <div class="dropdown">
                <div class="dropbtn">Schedule ▾</div>
                <div class="dropdown-content">
                    <a href="./schedule.html#day-1" onclick="goToCard(0)">Day 1</a>
                    <a href="./schedule.html#day-2" onclick="goToCard(1)">Day 2</a>
                    <a href="./PranNathLecture.html">Pran Nath's Lecture</a>
                    <a href="./Andre.html">Andre Linde's Lecture</a>
                    <a href="./GerardHooftLecture.html">Gerardus 't Hooft's Lecture</a>
                    <a href="./RobertWaldLecture.html">Robert Wald's Lecture</a>
                    <a href="./kistryn.html">Stanisław Kistryn's Lecture</a>
                    <a href="./skibinsky.html">Roman Skibinsky's Lecture</a>
                    <a href="./kievski.html">Alejandro Kievski's Lecture</a>
                </div>
            </div>

            <a href="./attendees.html" class="nav-item">Attendees</a>
            <a href="./regForm.html"> <button class="register-btn">Register</button></a>
        </div>
    </nav>

    <div class="bg-image-layer"></div>
    <div class="bg-color-layer"></div>
    <div class="main-container">
        <div class="header">
            <div class="title">Schedule of Talks</div>
            <div class="day-links">
                <a href="schedule.html#day-1" onclick="goToCard(0);" id="btn-1" class="day-btn active">Day-1 (Apr 14,
                    2026)</a>
                <a href="schedule.html#day-2" onclick="goToCard(1);" id="btn-2" class="day-btn">Day-2 (Apr 15, 2026)</a>
            </div>
        </div>

        <ul class="cards" id="schedule-container">
            <li class="cards-container" id="day_1">

                <div class="card" style="filter: drop-shadow(0rem 0rem 20px rgb(233, 190, 0));">
                    <!-- <div class="card-opening"> -->
                    <div class="speaker">
                        <p><a target="_blank" href="https://fellows.ias.ac.in/profile/v/FL1988014">Natarajan
                                Panchapakesan</a></p>
                    </div>
                    <div class="topic">
                        <p><strong></strong>Opening remarks</p>
                    </div>
                    <div class="time">
                        <p><strong>Time: </strong>14 April 2026, 2:30 PM - 2:40 PM IST</p>
                    </div>
                    <!-- <div class="links"> -->
                    <!--     <a href="javascript:void(0);" class="meeting">Meeting Link</a> -->
                    <!--     <a href="javascript:void(0);" class="youtube">YouTube Link</a> -->
                    <!--     <a href="javascript:void(0);" class="lecture" target="_blank" download>Lecture File</a> -->
                    <!-- </div> -->
                    <!-- <div class="abstract"> -->
                    <!--     <button onclick="toggleAbstract(this)">View Abstract</button> -->
                    <!--     <p><b>Abstract: </b>N.A.</p> -->
                    <!-- </div> -->
                </div>

                <div class="card" style="filter: drop-shadow(0rem 0rem 20px rgb(233, 190, 0));">
                    <!-- <div class="card-opening"> -->
                    <div class="speaker">
                        <p><a target="_blank"
                                href="https://www.tifr.res.in/dnap/high-energy-gamma-ray-lab.html">Indranil Mazumdar</a>
                        </p>
                    </div>
                    <div class="topic">
                        <p>Felicitaion of
                            <!-- <div class="speaker"> -->
                            <a href="https://www.researchgate.net/profile/V-Bhasin" target="_blank">
                                V. S. Bhasin</a>
                            <!-- </div> -->
                        </p>
                    </div>
                    <div class="time">
                        <p><strong>Time: </strong>14 April 2026, 2:40 PM - 2:50 PM IST</p>
                    </div>
                    <!-- <div class="links"> -->
                    <!--     <a href="javascript:void(0);" class="meeting">Meeting Link</a> -->
                    <!--     <a href="javascript:void(0);" class="youtube">YouTube Link</a> -->
                    <!--     <a href="javascript:void(0);" class="lecture" target="_blank" download>Lecture File</a> -->
                    <!-- </div> -->
                    <!-- <div class="abstract"> -->
                    <!--     <button onclick="toggleAbstract(this)">View Abstract</button> -->
                    <!--     <p><b>Abstract: </b>N.A.</p> -->
                    <!-- </div> -->
                </div>



                <div class="card schedule-header">
                    <div class="date">Day-1: April 14, 2026</div>
                    <div class="time-range">3:00 - 6:00 PM IST (8:00 - 11:00 PM, Adelaide)</div>
                    <br />
                    <div class="session-name">Session 1: Few-Body Physics</div>
                    <div class="session-name"> Chair: <a
                            href="https://researchers.adelaide.edu.au/profile/anthony.thomas" target="_blank"
                            class="chair"> Anthony William Thomas </a></div>
                </div>

                <!-- <div class="card chair"> -->
                <!--     Chair: <a target="_blank" href="https://www.manipuruniv.ac.in/faculty/128">Ngangkham Nimai Singh</a> -->
                <!--     <!--Chair: <a target="_blank" href="https://www.pnw.edu/people/neeti-parashar-ph-d/">Neeti Parashar</a>-->
                <!--     <br>(9:00 AM - 12:00 PM IST) -->
                <!-- </div> -->

                <div class="card">
                    <div class="speaker">
                        <p><a target="_blank"
                                href="https://eventi.unibo.it/fundamentals-of-research/speakers/stanislaw-kistryn">Stanisław
                                Kistryn</a></p>

                    </div>
                    <div class="topic">
                        <p><strong>Title: </strong>Investigating Three-Nucleon System Dynamics via the Deuteron-Proton
                            Breakup</p>
                    </div>
                    <div class="time">
                        <p><strong>Time: </strong>14 April 2026, 3:00 PM - 4:00 PM IST (10:30 AM - 11:30 AM, Central
                            European Time)</p>
                    </div>
                    <div class="links">
                        <a href="javascript:void(0);" class="meeting">Meeting Link</a>
                        <a href="javascript:void(0);" class="youtube">YouTube Link</a>
                        <a href="javascript:void(0);" class="lecture" target="_blank" download>Lecture File</a>
                    </div>
                    <div class="abstract">
                        <button onclick="toggleAbstract(this)">View Abstract</button>
                        <p><b>Abstract: </b>Experimental investigations of the three-nucleon (3N) systems at
                            intermediate energies keeps attracting attention due to sensitivity of the observables to
                            subtle effects of the dynamics beyond the pairwise nucleon-nucleon force, in particular the
                            so-called three nucleon force (3NF). The data for nucleon-deuteron collisions are also
                            considered as a tool for fine-tuning of the 3N Hamiltonian parameters in Chiral EFT.
                            Deuteron breakup induced by proton leads to a three-body final state, characterized by a
                            continuum of kinematic configurations. This enables detailed studies of contributions to the
                            reaction dynamics (3NF, Coulomb interaction, relativistic effects) in the areas of their
                            greatest visibility, and to fit the ChEFT parameters to a large and diverse database. Since
                            several years the d-p breakup reaction studies utilize large acceptance detectors, e.g.
                            SALAD and BINA at KVI Groningen and CCB PAS Krakow, GeWall and WASA at FZ-Juelich.
                            Differential cross section and, in some cases, vector and tensor analyzing powers were
                            measured over a significant part of the reaction phase space. The results of such
                            experiments conducted over a wide range of (intermediate) beam energies will be discussed.
                            Plans for extending the (still rather scarce) database of polarization observables for the
                            d-p breakup reaction with an upgraded experimental setup at CCB PAS Krakow will supplement
                            the presentation.</p>
                    </div>
                </div>


                <div class="card">
                    <div class="speaker">
                        <p><a target="_blank" href="https://inspirehep.net/authors/1031176">Roman Skibinsky</a></p>
                    </div>
                    <div class="topic">
                        <p><strong>Title: </strong>Current problems in few-nucleon physics: selected examples</p>
                    </div>
                    <div class="time">
                        <p><strong>Time: </strong>14 April 2026, 4:00 PM - 5:00 PM IST (11:30 AM - 12:30 PM, Central
                            European Time)</p>
                    </div>
                    <div class="links">
                        <a href="javascript:void(0);" class="meeting">Meeting Link</a>
                        <a href="javascript:void(0);" class="youtube">YouTube Link</a>
                        <a href="javascript:void(0);" class="lecture" target="_blank" download>Lecture File</a>
                    </div>
                    <div class="abstract">
                        <button onclick="toggleAbstract(this)">View Abstract</button>
                        <p><b>Abstract: </b>In my review, I will discuss selected examples of current research in the
                            ab-initio few-nucleon physics.
                            In addition to advances in the standard goal of this field — the understanding the nuclear
                            two- and three-body
                            potentials — I will give examples of recent research that goes beyond, to some extent, this
                            topic.
                            Specifically, I will focus on the quantum entanglement, uncertainty quantification,
                            applications beyond
                            three-nucleon systems, and beyond the low-energy regime.</p>
                    </div>
                </div>


                <div class="card">
                    <div class="speaker">
                        <p><a target="_blank"
                                href="https://sites.google.com/a/unipi.it/pisa-theory-group/people/kievsky-alejandro">Alejandro
                                Kievski</a></p>
                    </div>
                    <div class="topic">
                        <p><strong>Title: </strong>The three-nucleon parameter</p>
                    </div>
                    <div class="time">
                        <p><strong>Time: </strong>14 April 2026, 5:00 PM - 6:00 PM IST (12:30 PM - 1:30 PM, Central
                            European Time)</p>
                    </div>
                    <div class="links">
                        <a href="javascript:void(0);" class="meeting">Meeting Link</a>
                        <a href="javascript:void(0);" class="youtube">YouTube Link</a>
                        <a href="javascript:void(0);" class="lecture" target="_blank" download>Lecture File</a>
                    </div>
                    <div class="abstract">
                        <button onclick="toggleAbstract(this)">View Abstract</button>
                        <p><b>Abstract: </b>N.A.</p>
                    </div>
                </div>




                <div class="card schedule-header">
                    <div class="date">Day-1: April 14, 2026</div>
                    <div class="time-range">6:30 PM IST (UTC +05:30)</div>
                    <br />
                    <div class="session-name">Session 2</div>
                    <div class="session-name"> Chair: <a href="https://en.wikipedia.org/wiki/Amitava_Raychaudhuri"
                            target="_blank" class="chair"> Amitava Raychaudhuri </a></div>

                </div>

                <div class="card">
                    <div class="speaker">
                        <p><a target="_blank" href="https://cos.northeastern.edu/people/pran-nath/">Pran Nath</a></p>
                    </div>
                    <div class="topic">
                        <p><strong>Title: </strong>Intertwining Particle Physics and Cosmology: A view from the
                            bridge
                        </p>
                    </div>
                    <div class="time">
                        <p><strong>Time: </strong>14 April 2026, 6:30 PM - 8:00 PM IST (9:00 - 10:30 AM, Eastern US)</p>
                    </div>
                    <div class="links">
                        <a href="javascript:void(0);" class="meeting">Meeting Link</a>
                        <a href="javascript:void(0);" class="youtube">YouTube Link</a>
                        <a href="javascript:void(0);" class="lecture" target="_blank" download>Lecture File</a>
                    </div>
                    <div class="abstract">
                        <button onclick="toggleAbstract(this)">View Abstract</button>
                        <p><b>Abstract: </b>N.A.</p>
                    </div>
                </div>




                <!-- <div class="card interval"> -->
                <!--     Lunch Break: 12:00 PM - 2:45 PM IST -->
                <!-- </div> -->

                <div class="card interval">
                    End of Day-1
                </div>


            </li>


            <li class="cards-container" id="day_2">

                <div class="card schedule-header">
                    <div class="date">Day-2: April 15, 2026</div>
                    <div class="time-range">9:00 AM IST (UTC +05:30) <br>(April 14<sup>th</sup> at 7:30 PM, Pacific
                        Standard Time)</div>
                    <br />
                    <div class="session-name">Session 3</div>
                    <div class="session-name"> Chair: <a href="javascript:void(0);" target="_blank" class="chair"> to be
                            announced </a></div>
                    <div class="session-name"> Co-Chair: <a href="https://www.iitr.ac.in/~PH/aalokfph" target="_blank"
                            class="chair"> Aalok Misra </a></div>

                </div>
                <div class="card">
                    <div class="speaker">
                        <p><a target="_blank" href="https://en.wikipedia.org/wiki/Andrei_Linde" />Andre Linde </a>
                        </p>
                    </div>
                    <div class="topic">
                        <p><strong>Title: </strong>Reverse engineering of the Universe
                        </p>
                    </div>
                    <div class=" time">
                        <p><strong>Time: </strong>15 April 2026, 9:00 AM IST (April 14<sup>th</sup> at 7:30 PM, Pacific
                            Standard Time)</p>
                    </div>
                    <div class="links">
                        <a href="javascript:void(0);" class="meeting">Meeting Link</a>
                        <a href="javascript:void(0);" class="youtube">YouTube Link</a>
                        <a href="javascript:void(0);" class="lecture" target="_blank" download>Lecture File</a>
                    </div>
                    <div class="abstract">
                        <button onclick="toggleAbstract(this)">View Abstract</button>
                        <p><b>Abstract: </b>In that talk I will revisit the theory of the origin of the universe in a
                            hope to find a simple and economical mechanism that would be able to create the world where
                            we live now.</p>
                    </div>
                </div>


                <div class="card" style="filter: drop-shadow(0rem 0rem 20px rgb(233, 190, 0));">
                    <!-- <div class="card-opening"> -->
                    <div class="speaker">
                        <p><a href="https://nasi.org.in/fellows/dass-n-d-hari/" target="_blank" class="chair"> N. D.
                                Hari Dass </a></p>
                    </div>
                    <div class="topic">
                        <p><strong></strong><br />Opening remarks and reminiscing <br /><br />
                            <a target="_blank"
                                href="https://inspirehep.net/literature?sort=mostrecent&size=25&page=1&q=Find%20a%20ramanathan%2Crajagopalan&ui-citation-summary=true">R.
                                Ramanathan</a> <br />
                            <a target="_blank" href="https://inspirehep.net/authors/1037434">D. K. Choudhary</a> <br />
                            <a target="_blank" href="https://en.wikipedia.org/wiki/Naresh_Dadhich">N. K. Dadhich</a>
                            <br />
                            <a target="_blank" href="https://inspirehep.net/authors/2274471">J. D. Anand</a><br />
                        </p>
                    </div>
                    <div class="time">
                        <p><strong><br />Time: </strong>15 April 2026, 4:30 PM - 4:50 PM IST</p>
                    </div>
                    <!-- <div class="links"> -->
                    <!--     <a href="javascript:void(0);" class="meeting">Meeting Link</a> -->
                    <!--     <a href="javascript:void(0);" class="youtube">YouTube Link</a> -->
                    <!--     <a href="javascript:void(0);" class="lecture" target="_blank" download>Lecture File</a> -->
                    <!-- </div> -->
                    <!-- <div class="abstract"> -->
                    <!--     <button onclick="toggleAbstract(this)">View Abstract</button> -->
                    <!--     <p><b>Abstract: </b>N.A.</p> -->
                    <!-- </div> -->
                </div>



                <div class="card schedule-header">
                    <div class="date">Day-2: April 15, 2026</div>
                    <div class="time-range">5:00 PM - 6:30 PM IST (UTC +05:30) </div>
                    <br />
                    <div class="session-name">Session 4</div>
                    <div class="session-name"> Chair: <a href="https://nasi.org.in/fellows/dass-n-d-hari/"
                            target="_blank" class="chair"> N. D. Hari Dass </a></div>
                    <div class="session-name"> Co-Chair: <a href="https://www.iitr.ac.in/~PH/aalokfph" target="_blank"
                            class="chair"> Aalok Misra </a></div>

                </div>



                <!-- <div class="card chair"> -->
                <!--     Chair: <a target="_blank" href="https://kmc.du.ac.in/research/faculty/pdf/151/----------">Usha -->
                <!--         Kulshreshtha</a> <br>(8:30 AM - 9:30 AM IST) -->
                <!-- </div> -->

                <div class="card">
                    <div class="speaker">
                        <p><a target="_blank"
                                href="https://www.nobelprize.org/prizes/physics/1999/thooft/biographical" />Gerardus
                            t'Hooft</a>
                        </p>
                    </div>
                    <div class="topic">
                        <p><strong>Title: </strong>From the Standard Model to a renormalised quantum theory for black
                            holes <i style="color: orange;">(an approach to quantise gravity) </i>
                        </p>
                    </div>
                    <div class=" time">
                        <p><strong>Time: </strong>15 April 2026, 5:00 PM - 6:30 PM IST (1:30 - 3:00 PM, Netherlands)</p>
                    </div>
                    <div class="links">
                        <a href="javascript:void(0);" class="meeting">Meeting Link</a>
                        <a href="javascript:void(0);" class="youtube">YouTube Link</a>
                        <a href="javascript:void(0);" class="lecture" target="_blank" download>Lecture File</a>
                    </div>
                    <div class="abstract">
                        <button onclick="toggleAbstract(this)">View Abstract</button>
                        <p><b>Abstract: </b>The Standard Model is the most concise approach possible for deriving the
                            physical laws of matter particles that interact with one another, while obeying the laws of
                            Special Relativity. These interactions require a renormalization procedure that we briefly
                            explain. It appears however that the Standard Model cannot be generalised directly if one
                            tries to include the gravitational force. However there may exist an indirect approach by
                            assuming that all matter exists of Standard Model fields that interact with black holes.
                            This can be done while respecting the laws of General Relativity, and unitarity, a new
                            demand that yields results different from more usual approaches.</p>
                    </div>
                </div>


                <div class="card schedule-header">
                    <div class="date">Day-2: April 15, 2026</div>
                    <div class="time-range">6:30 PM - 8:00 PM IST (UTC +05:30)</div>
                    <br />
                    <div class="session-name">Session 5</div>
                    <div class="session-name"> Chair: <a href="https://nasi.org.in/fellows/dass-n-d-hari/"
                            target="_blank" class="chair"> N. D. Hari Dass </a></div>
                    <div class="session-name"> Co-Chair: <a
                            href="https://www.researchgate.net/profile/Patrick-Das-Gupta" target="_blank" class="chair">
                            Patrick Das Gupta </a></div>

                </div>

                <div class="card">
                    <div class="speaker">
                        <p><a target="_blank" href="https://physics.uchicago.edu/people/profile/robert-wald/">Robert
                                M.
                                Wald</a></p>
                    </div>
                    <div class="topic">
                        <p><strong>Title: </strong>Black Holes Decohere Quantum Superpositions</p>
                    </div>
                    <div class="time">
                        <p><strong>Time: </strong>15 April 2026, 6:30 PM - 8:00 PM IST (8:00 - 9:30 AM, Chicago US)</p>
                    </div>
                    <div class="links">
                        <a href="javascript:void(0);" class="meeting">Meeting Link</a>
                        <a href="javascript:void(0);" class="youtube">YouTube Link</a>
                        <a href="javascript:void(0);" class="lecture" target="_blank" download>Lecture File</a>
                    </div>
                    <div class="abstract">
                        <button onclick="toggleAbstract(this)">View Abstract</button>
                        <p><b>Abstract: </b>We show that if a massive body is put in a quantum superposition of
                            spatially separated states, the mere presence of a black hole in the vicinity of the body
                            will eventually destroy the coherence of the superposition. This occurs because, in effect,
                            the gravitational field of the body radiates soft gravitons into the black hole, allowing
                            the black hole to harvest "which path'' information about the superposition. A similar
                            effect occurs for quantum superpositions of electrically charged bodies. The effect is very
                            closely related to the memory effect and infrared divergences at null infinity.</p>
                    </div>
                </div>

                <!-- <div class="card interval"> -->
                <!--     End of Day-2 -->
                <!-- </div> -->
            </li>
        </ul>

    </div>

    <!-- Page Three: Join Section and Footer -->
    <div id="page-three" class="page-section page-three">
        <!-- Footer -->
        <footer>
            <div class="footer-bottom">
                <p title="Designed by Ayush Ashray Nishad, Rajnish Kumar Jha and Shivam Singh Aswal">In the loving
                    memory of Professor Asoke Nath Mitra.</p>
                <!-- email llink -->

                <p>For queries, contact &nbsp;<a href="javascript:void(0);" style="color: cyan; text-decoration: none;">
                        aalok.misra[at]ph[dot]iitr[dot]ac[dot]in</a>.</p>
                <!-- <div class="footer-bottom-links">
                    <a href="templates/about.html">About</a>
                    <a href="templates/schedule.html">Events</a>
                    <a href="templates/attendees.html">Attendees</a>
                    <a href="templates/regForm.html">Register</a>
                </div> -->
            </div>
        </footer>
    </div>

    <script>
        const cardContainer = document.getElementById('schedule-container');
        const cards = document.querySelectorAll('.cards-container');

        //let currentIndex = 0;

        function toggleAbstract(button) {
            const abstractText = button.nextElementSibling;
            const isHidden = abstractText.style.display === 'none';
            abstractText.style.display = isHidden ? 'block' : 'none';
            button.textContent = isHidden ? 'Hide Abstract' : 'View Abstract';
        }

        function updateIndicator(active_btn, inactive_btn) {
            const day_button_active = document.getElementById(active_btn);
            const day_button_inactive = document.getElementById(inactive_btn);

            day_button_active.classList.add('active')
            day_button_inactive.classList.remove('active')
        }

        // Function to go to a specific card
        function goToCard(index) {
            currentIndex = index;
            const cardWidth = cards[0].offsetWidth + document.documentElement.clientWidth;
            cardContainer.scrollTo({
                left: cardWidth * currentIndex,
                behavior: 'smooth'
            });

            let btn_id_a = "";
            let btn_id_i = "";

            if (index == 1) {
                btn_id_a = "btn-2";
                btn_id_i = "btn-1";
            }
            else {
                btn_id_a = "btn-1";
                btn_id_i = "btn-2";
            }
            updateIndicator(btn_id_a, btn_id_i);
        }

        let current_url = window.location.href;
        if (current_url.search("#day-2") >= 0) {
            goToCard(1);
        }
        else {
            goToCard(0);
        }
    </script>
</body>

</html>
