<!-- BASE FILE PATH -->
<!-- <base href="file:///run/media/shivam/DataDrive/IIT%20Roorkee/Aalok%20misra/Website/" /> -->
<base href="{{site.baseurl}}" />
<!-- BASE FILE PATH -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memorial Lecture</title>
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/WittenLecture.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <script src="../static/js/navbarScript.js"></script>
    <script src="../static/js/about.js"></script>
</head>
<body>
    <!-- Loading animation -->
    <div id="loading">
        <img src="../static/gifs/3bodyAnim.gif" alt="Loadidfsng...">
    </div>

    <div class="background the-page"></div>


    <!-- Navigation bar -->
    <div class="mobile-topnav">
        <b class="mobile-nav-header">Menu</b>
        <div id="mobile-myLinks">
            <a href="../index.html">Home</a>
            <a href="./about.html">Prof. A. N. Mitra</a>
            <a href="javascript:void(0);" class="mobile-dropdown-btn" onclick="mobile_dropdown_click()">Schedule ▾</a>
            <div class="mobile-dropdown-container" id="mobile-drop-container">
                <a href="./schedule.html#day-1" onclick="goToCard(0)">Day 1</a>
                <a href="./schedule.html#day-2" onclick="goToCard(1)">Day 2</a>
                <a href="./WittenLecture.html">Ed Witten's Lecture</a>
            </div>
            <a href="./attendees.html">Attendees</a>
            <a href="./regForm.html">Register</a>
        </div>
        <a href="javascript:void(0);" class="mobile-icon" onclick="mobileHamBurgerToggle()">☰</a>
    </div>

    <nav class="navbar">
        <div class="nav-links">
            <a href="../index.html" class="nav-item">Home</a>
            <a href="./about.html" class="nav-item">Prof. A. N. Mitra</a>

        </div>
        <!--<div class="logo">Logo</div> -->
        <div class="nav-right">
            <div class="dropdown">
                <div class="dropbtn">Schedule ▾</div>
                <div class="dropdown-content">
                    <a href="./schedule.html#day-1" onclick="goToCard(0)">Day 1</a>
                    <a href="./schedule.html#day-2" onclick="goToCard(1)">Day 2</a>
                    <a href="./WittenLecture.html">Ed Witten's Lecture</a>
                </div>
            </div>
            <a href="./attendees.html" class="nav-item">Attendees</a>
            <a href="./regForm.html"> <button class="register-btn">Register</button></a>
        </div>
    </nav>

    <div class="strings-bg">
        
    </div>

    <div class="hero">
        <div class="Witten" style="background: transparent;">
            <img src="../static/images/EdWitten.jpg" alt="Professor Edward Witten">
            
            <!-- horizontal line with red color -->
            <hr id=witten-line> <!--old-->

            <div id="date-time-lecture">
                <h4 style="margin-left: 0px; color: white; display: inline;">Date & Time:</h4>
                <p style="color: white; display: inline;">15<sup>th</sup> April 2025, 6:30 PM IST</p>
            </div>
            

        </div>
        <div class="hero-text" style="color: white;">
            <!-- <h3 style="color: #fff;">A Background - Independent Algebra For Gravity</h3> -->
            <h3 style="color: #fff;">Algebras in Field Theory and Gravity: An Overview</h3>
            <div id="author-name">Edward Witten</div>
            <!-- <pre style="margin-top: -20px; font-size: 20px;">Edward Witten</pre> -->

            <!-- horizontal line with red color -->
            <hr style="width: 100%; margin-top: 10px; margin-bottom: 10px; border: 1px solid purple;"> <!-- new -->
            <!-- <hr style="width: 100%; margin-top: 10px; margin-bottom: 10px; border: 1px solid #fb4e2f;"> --> <!-- old -->

            <h4>About the speaker</h4>
            <!-- in about 500 words -->
            <p>Edward Witten is a theoretical physicist and mathematician who is known for his work in string theory and quantum field theory. He is a professor at the Institute for Advanced Study in Princeton, New Jersey, and has made significant contributions to the fields of theoretical physics and mathematics. Witten is a recipient of numerous awards, including the Fields Medal and the Fundamental Physics Prize. His work has had a profound impact on the development of modern physics and has inspired generations of researchers.</p>

            <h4>Abstract</h4>
            <!-- <p>In this lecture, I will discuss recent progress in the development of a background-independent formulation of algebraic gravity. This approach is based on the idea of using algebraic structures to describe the geometry of spacetime without reference to a fixed background metric. I will explain how this framework can be used to study the dynamics of gravitational fields and the structure of spacetime at the quantum level. I will also discuss the implications of this work for our understanding of the nature of gravity and the fundamental structure of the universe.</p> -->
            <blockquote>
                <br style="height: 0px;"> I will discuss general properties of the algebra of the observables in a region or accessible to an observer in ordinary quantum field theory and in the presence of gravity. <br><br>
            </blockquote>
            <!-- <p>To be announced </p> -->
            <!-- <h4>Date & Time</h4>
            <p>15<sup>th</sup> April 2025, 6:30 PM IST</p> -->
            
        </div>
    </div>

    
    <!-- Page Three: Join Section and Footer -->
    <div id="page-three" class="the-page page-section page-three">
        <!-- Footer -->
        <footer>
            <div class="footer-bottom">
                <p title="Designed by Ayush Ashray Nishad, Rajnish Kumar Jha and Shivam Singh Aswal">In the loving memory of Professor Asoke Nath Mitra.</p>
                <!-- email llink -->

                <p>For queries, contact &nbsp;<a href="mailto:aalok.misra@ph.iitr.ac.in" style="color: cyan; text-decoration: none;"> aalok.misra@ph.iitr.ac.in</a>.</p>
                <!-- <div class="footer-bottom-links">
                    <a href="templates/about.html">About</a>
                    <a href="templates/schedule.html">Events</a>
                    <a href="templates/attendees.html">Attendees</a>
                    <a href="templates/regForm.html">Register</a>
                </div> -->
            </div>
        </footer>
    </div>

</body>
</html>
